# Use `npm install` to install all modules
node_modules/*

# Code editor stuffs
.vscode/*

# Archived commands I don't want to commit
archived-commands/*

# Token and config vars
config.json

# Self-aids
template.txt

# Prefixes JSON file (has server IDs)
handlers/prefixes.json

# Linter
.eslintrc.json